.tms {
    font-size: 75px;
    font-family: Dancing Script ;
    font-style: oblique;
    font-variant: inherit;
   
    text-align: center;
    
  }

/* .btn-bora {
  box-shadow: 5px 5px purple;
} */
