
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-size: cover;
    background-position: center;
    background-color: rgba(89, 35, 89,.5);
    text-align: center;
    margin-top: 200px;
}

input[type="password"] {
    width: 25%;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.button1 {
    padding: 10px 20px;
    background-color:rgb(89, 35, 89);
    color: #fff;
    border: none;
    cursor: pointer;
}

.button2 {
    color: black;
    border: hidden;
    background-color: transparent;
    cursor: pointer;
}

img {
    width: 250px;
    height: 250px;
}


.arrow {
    text-decoration: none;
    color: rgb(58, 6, 84);
}

.arrow:hover {
    color: rgb(162, 94, 225);
    background-color: transparent;
}